<%= if length(@game.players) == 1 do %>
  Waiting for your opponent …
<% end %>

<%= if !@current_player.is_navigator do %>
  Waiting for the round …
<% end %>

<%= if length(@game.players) > 1 && @current_player.is_navigator do %>
  <button>Start round</button>
<% end %>
